{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Kitchen service</span>
    </div>
  </nav>

  <br>

  <div style="width: 500px" class="container bg-secondary-subtle shadow-lg p-5 rounded form-layout">
    <h4 style="text-align: center">Login</h4>
    <hr>
    <form method="post" action="{% url 'login' %}" novalidate>
      {% csrf_token %}
      {{ form|crispy }}
      <br>
      <input class="btn btn-primary" type="submit" value="Login">
      <hr>
      <p>Don't have an account yet?</p>
      <a style="display:block;margin: 0 auto" class="btn btn-secondary" href="{% url "kitchen:register" %}">Registrate</a>
    </form>
  </div>
{% endblock %}