{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Kitchen service</span>
    </div>
  </nav>

  <br>

  <div style="width: 700px" class="container bg-secondary-subtle shadow-lg p-5 rounded form-layout">
    <h4 style="text-align: center">Registration</h4>
    <hr>
    <form method="post" action="" novalidate>
      {% csrf_token %}
      {{ form|crispy }}
      <br>
      <input class="btn btn-primary" type="submit" value="Register">
    </form>
  </div>
{% endblock %}