{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="d-flex justify-content-center">
    <form class="form-inline" action="" method="get">
      <div class="input-group">
        {{ search_form|crispy }}
        <button class="btn" type="submit">
          <i style="font-size: 24px" class='bx bx-search-alt-2' ></i>
        </button>
      </div>
    </form>
  </div>
  <div style="width: 500px" class="container bg-secondary-subtle shadow-lg p-5 rounded form-layout">
    <table class="table">
      <thead>
        <tr>
          
          <td>
            <strong>Our Cooks:</strong>
          </td>
          <td>
          </td>
        </tr>
        
      </thead>
      <tbody>
        {% for cook in cook_list %}
          <tr>
            <th>
                {{ cook.first_name }} {{ cook.last_name }}
            </th>
            <th>
              <a href="{% url "kitchen:cook-detail" pk=cook.id %}">
                <i style="font-size: 26px" class='bx bx-info-square'></i>
              </a>    
            </th>
          </tr>
          
  {#        <li>#}
  {#          <a href="{% url "kitchen:cook-detail" pk=cook.id %}">#}
  {#            <h1>{{ cook.first_name }} {{ cook.last_name }}</h1>#}
  {#          </a>#}
  {#        </li>#}
  {#        <br>#}
        {% endfor %}
      </tbody>
    </table>
    {% include "includes/pagination.html" %}
  </div>
{% endblock %}
